{
  "env": {
    
      "production": {
        
          "plugins": ["transform-remove-console", "@babel/plugin-proposal-optional-chaining"],
          "presets": ["@babel/preset-env", "@babel/preset-react"]
      }
      
  }
}
