/*다크모드*/
html.dark{
  background-color: black;
}
html.dark #root{
  background-color: black;
}

/* font-size로 rem 기본 반응형 */
html {
  font-size: 16px;

  @media (max-width: 800px) {
    font-size: 70%;
  }

  @media (max-width: 600px) {
    font-size: 50%;
  }
}


body {
    background-color: #F4F3EE;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
